*{
   text-decoration: none;
  }


body{
   font-family: courier new;
   text-align: center;
   }

#navbar{
      
      height: 100px;
      background: black;
    }

nav > ul {
      color: white;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      height: 100px;
      margin: 40px;
      }

li > a {
         color: white;
         text-decoration: none;
       }
#attention{
       font-size: 15px;
       Font-weight:bolder;
       margin: 20px 50px 0 50px;
}
#salut{
   margin: 0px 50px 0px 50px;
    }  

#parcours{ 
   margin: 0px 50px 0px 50px;
    }  

#motivations{ 
   margin: 0px 50px 0px 50px;  
    }     

#fleche{
   width:100px;
}

#profil{
   border-radius: 50%;
   width: 200px;
}

#carte{
   width: 70%;
}


#metier{
   text-align: justify;
   font-size: 15px;
   font-weight: 700;
   text-indent:100px;

}

#certifications{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   text-align: center;
   width: 100%;
   }

   #fccrwd{
      width: 270px;
      height: 160px;
      margin: 2px 2px 2px 2px;
   }

   #sololearnhtml{
      width: 270px;
      height: 160px;
      margin: 2px 2px 2px 2px;
   }

   #sololearnphp{
      width: 270px;
      height: 160px;
      margin: 2px 2px 2px 2px;
   }

   #sololearncss{
      width: 270px;
      height: 160px;
      margin: 2px 2px 2px 2px;   
   }

   #footer{
      background-color: black;
      height: 100px;
   }
   #email{
      width: 40px;
      height: 25px;
      margin: 30px auto auto auto;
   }
   #in{
      width: 40px;
      height: 40px;
      margin: 30px auto auto auto;
   }