*{
   text-decoration: none;
  }


body{
   font-family: courier new;
   margin: 10px;
   }

#navbar{
      width: 100%;
      height: 80px;
      background: black;
    }

nav > ul {
      color: white;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
      width: 90%
      }

li > a {
         color: white;
         text-decoration: none;
       }

#salut{
      width: 100%;
      text-align: center;
    }  

#fleche{
   width:100px;
}

#profil{
   border-radius: 50%;
   width: 200px;
}
