*{
   text-decoration: none;
  }


body{
   font-family: courier new;
   margin: 10px;
   text-align: center;
   }

#navbar{
      
      height: 80px;
      background: black;
    }

nav > ul {
      color: white;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      height: 80px;
      margin: 40px;
      }

li > a {
         color: white;
         text-decoration: none;
       }
#attention{
       font-size: 15px;
       Font-weight:bolder;
}
#salut{
    }  

#parcours{ 
    }  

#motivations{   
    }     

#fleche{
   width:100px;
}

#profil{
   border-radius: 50%;
   width: 200px;
}

#carte{
   width: 70%;
}


#metier{
   text-align: justify;
   font-size: 15px;
   font-weight: 700;
   text-indent:100px;

}

#certifications{
   display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   height: 100%;
   }

   #fccrwd{
      width: 40%;
   }

   #sololearnhtml{
      width: 40%;
   }